<div class="drawer">
  <div class="header-wrap">
    <div class="header-container">
      <h1>Kiper</h1>
    </div>
    <div class="header-container">
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item">Столы</li>
            <li class="header-nav-item header-nav-active">Клеинты</li>
            <li class="header-nav-item">Продажи</li>
            <li class="header-nav-item">Расходы</li>
            <li class="header-nav-item">Закупки</li>
            <li class="header-nav-item">Смены</li>
            <li class="header-nav-item">Бухгалтерия</li>
          </ul>
        </nav>
    </div>
    <div class="header-container header-container-for-setting">
      <mat-icon aria-hidden="false" class="header-setting-icon">settings</mat-icon>
    </div>
  </div>
</div>
